{
  "presets": ["@babel/preset-env", "@babel/react"],
  "plugins": [
    ["@babel/plugin-transform-runtime"],
    ["@babel/plugin-syntax-dynamic-import"],
    ["@babel/plugin-proposal-class-properties"],
    [
      "import",
      {
        "libraryName": "antd",
        "libraryDirectory": "es",
        "style": true
      },
      "antd"
    ],
    [
      "import",
      {
        "libraryName": "@xy/design",
        "libraryDirectory": "es",
        "style": true
      },
      "@xy/design"
    ]
  ]
}
